<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head th:replace="~{base::head}">
</head>
<body>
	<div th:replace="~{base::navbar}"></div>


	<div th:replace="~{base::header(text='Success')}"></div>


	<!-- Success Start -->
	<div class="container-fluid py-5">
		<div class="container">
			<h3 class="mb-4">Booking Successful!</h3>

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead class="table-light">
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Date</th>
							<th>Time</th>
							<th>Persons</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${booked.id}"></td>
							<td th:text="${booked.name}"></td>
							<td th:text="${booked.email}"></td>
							<td th:text="${booked.phoneNumber}"></td>
							<td th:text="${booked.date}"></td>
							<td th:text="${booked.time}"></td>
							<td th:text="${booked.person}"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="text-center mt-4">
				<a href="/" class="btn btn-primary">Back to Home</a>
			</div>
		</div>
	</div>

	<!-- Success End -->

	<!-- footer -->
	<div th:replace="~{base::footer}"></div>


	<!-- Back to Top -->
	<div th:replace="~{base::script}"></div>
</body>

</html>